<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
    <p>Description: <%= description %></p>
    <% if (items.length !== 0) { %>
      <ul>
        <% items.forEach((item) => { %>
          <li>
            <a href=<%= item.url %>>
              <%= item.name %>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <a href=<%= `/store/${id}/delete` %>>Delete this category</a>
    <% } %>
    <a href=<%= `/store/${id}/update` %>>Update this category</a>
    <a href="/store">Back to store</a>
	</body>
</html>
