<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
    <p>Description: <%= description %></p>
		<p>Price: <%= `$${price / 100}` %></p>
    <p><%= numberInStock %> in stock</p>
		<a href=<%= `/store/items/${id}/delete` %>>Delete this item</a>
		<a href=<%= `/store/items/${id}/update` %>>Update this item</a>
		<a href="/store">Back to store</a>
	</body>
</html>
