<!DOCTYPE html>
<html>
	<head>
		<title>Update <%= name %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Update <%= name %></h1>
		<form action=<%= `/store/${id}/update` %> method="post">
			<label for="categoryName">
				Name:
				<input type="text" id="categoryName" name="categoryName" value=<%= name %> />
			</label>
			<label for="categoryDescription">
				Description:
				<input type="text" id="categoryDescription" name="categoryDescription" value=<%= description %> />
			</label>
			<button type="submit">Submit</button>
		</form>
    <% if (errors) { %>
      <ul>
        <% errors.forEach((error) => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    <a href="/store">Back to store</a>

		<script>
			const nameInput = document.getElementById('categoryName');
			nameInput.addEventListener('change', (ev) => {
        // How you would add client side validation
				console.log(ev.target.value);
			});
		</script>
	</body>
</html>
